@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Open+Sans:wght@300;400;500&family=Oswald:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif ;
}

body {
    height: 100vh;
    background: linear-gradient(120deg, #000, #022);
    display: flex;
    align-items: center;
    justify-content: center;
    color: antiquewhite;
}

.relogio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 250px;
    width: 600px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 2);
}

.relogio div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 15px rgba(0,0,0,.7);
    border-radius: 3px;
    letter-spacing: 3px;
}

.relogio span {
    font-weight: bolder;
    font-size: 80px;
}

.relogio span.tempo {
    font-size: 10px;
}